
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;900&display=swap');
:root {
    font-size: 16px;
    --main-color: #21243D;
    --primary-color:#FF6464;
    --dark-blue:#142850;
    --secondary-color:#00A8CC;
    --bg-lightblue: #edf7fa;
}
    

*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4 {
    color: var(--main-color);
}
button{
    width: 200px;
    height: 50px;
    background: var(--primary-color);
    border: none;
    color: #FFFFfF;
    font-size: 1.25rem;
    font-weight: 500;
}
.container{
    width: 860px;
    margin: 0 auto;
    max-width: 100%;
}
header{
width: 100%;
height: 80px;
display: flex;
justify-content: flex-end;/*прировнять к правой стороне*/
align-items: center;

}
header ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;/*равное расстояние у элементов*/
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}
header ul li a{
    text-decoration: none;
    color: black;
}
.content{
    display: flex;
    margin-top: 120px;
    min-height: 300px;
    justify-content: space-between;
    margin: 120px 0 80px 0;
}
.content_left{
    display: flex;
    flex-direction: column;/*контент в колонках*/
    justify-content: space-between;
    width: 60%;

}
.content .content_right{
    display: flex;
    align-items: center;
}
.content_left  h1{
font-size: 2.75rem;
}
.content .content_right img{
    filter: drop-shadow(-5px -13px 0px #EDF7Fa);
}
section{
    padding: 32px 0;

}
section h3{
  font-size:   1.4rem;
  font-weight: 400;
}

section a.all{
color: var(--secondary-color);
text-decoration: none;
}
section.recent{
    background-color: var(--bg-lightblue);
}
section.recent .recent_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.recent .recent-card-container{
    max-width: 418px;
    min-height: 295px ;
    background-color: #FFFFfF;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 22px;

}
section.recent .recent-card-container h3{
    font-size: 1.625rem;
    font-weight: 700;
}
section.recent .recent-card-container .description{
display: flex;
justify-content: space-between;
max-width: 280px;
}

section.recent .recent-card-container .description .line{
    width: 1px;
    height: 20px;
    background-color: black;
}
section.recent .recent-container{
    display: flex;
    justify-content: space-between;
}